<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/LeonarAung/MyanmarFont/ad9e45c3/unicode.css"/>

<style>
table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #7EA8F8;
  border-style: solid;
  color: #000000;
text-align: center;
font-size: 12px;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #7EA8F8;
  border-style: solid;
  padding: 2px;
}

table.customTable thead {
  background-color: #fff;
}
body{
text-align: center;
}

tr:nth-child(even) {
  background-color: lightBlue;
}
</style>
</head>
<body>
<h2>24-09-2020 အထိ <br>သေဆုံးသူများစာရင်း<font color="yellow" style="background-color: red;"> 147 ဦး </font></h2>

<details>
<summary> 1 မှ 20 အထိ ကြည့်ရန်</summary>

<table class="customTable">
  <thead>
    <tr>
      <th width="3%">စဥ်</th>
      <th width="17%">ရက်စွဲ</th>
      <th width="5%">Case<br>NO</th>
      <th width="43%">ရောဂါအခံ<br>ရှိ/မရှိ</th>
      <th width="5%">ကျား/မ</th>
      <th width="5%">အသက်</th>
      <th width="22%">ဆေးရုံ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>၃၁.၃.၂၀၂၀</td>
      <td>5</td>
      <td>နှာခေါင်းကင်ဆာ</td>
      <td>ကျား</td>
      <td>၆၉</td>
      <td>ဝေဘါဂီဆေးရုံ</td>
    </tr>
    <tr>
      <td>2</td>
      <td>၈.၄.၂၀၂၀</td>
      <td>16</td>
      <td>ဆီးချို.ကျောက်ကပ်<br>နှလုံသွေးကြောကျဥ်း</td>
      <td>မ</td>
      <td>၆၃</td>
      <td>ဝေဘါဂီဆေးရုံ</td>
    </tr>
    <tr>
      <td>3</td>
      <td>၈.၄.၂၀၂၀</td>
      <td>17</td>
      <td>သွေးတိုး</td>
      <td>ကျား</td>
      <td>၄၇</td>
      <td>ပြည်.ပြည်သူ့ဆေးရုံ</td>
    </tr>
   <tr>
      <td>4</td>
      <td>၁၂.၄.၂၀၂၀</td>
      <td>39</td>
      <td>ဆီးချို.သွေးတိုး<br>နှလုံသွေးကြောကျဥ်း</td>
      <td>ကျား</td>
      <td>၈၅</td>
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td>
    </tr>
    <tr>
      <td>5</td>
      <td>၁၈.၄.၂၀၂၀</td>
      <td>86</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၇၈</td>
      <td>အင်းစိန်ပြည်သူ့ဆေးရုံ</td>
    </tr>
    <tr>
      <td>6</td>
      <td>၂၉.၄.၂၀၂၀</td>
      <td>110</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၆၃</td>
      <td>တ/ဥက္ကလာပဆေးရုံ</td>
    </tr>
    <tr>
      <td>7</td>
      <td>၄.၉.၂၀၀</td>
      <td>1023</td>
      <td>SLEရောဂါ</td>
      <td>မ</td>
      <td>၄၆</td>
      <td>ဝေဘါဂီဆေးရုံ</td>
    </tr>
    <tr>
      <td>8</td>
      <td>၅.၉.၂၀၂၀</td>
      <td>1236</td>
      <td>ဆီးချို.ကျောက်ကပ်</td>
      <td>မ</td>
      <td>၆၇</td>
      <td>သင်္ဃန်းကျွန်း</td>
    </tr>
    <tr>
      <td>9</td>
      <td>၈.၉.၂၀၂၀</td>
      <td>1629</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၆၅</td>
      <td>မော်လမြိုင်ဆေးရုံ</td>
    </tr>
    <tr>
      <td>10</td>
      <td>၈.၉.၂၀၂၀</td>
      <td>1485</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>မ</td>
      <td>၈၂</td>
      <td>ဖောင်ကြီးဆေးရုံ</td>
    </tr>
    </tbody>
     </table>
     
    
  
    <hr>
    
    
    
    <table class="customTable">
  <thead>
    <tr>
      <th width="3%">စဥ်</th>
      <th width="17%">ရက်စွဲ</th>
      <th width="5%">Case<br>NO</th>
      <th width="43%">ရောဂါအခံ<br>ရှိ/မရှိ</th>
      <th width="5%">ကျား/မ</th>
      <th width="5%">အသက်</th>
      <th width="22%">ဆေးရုံ</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td style="background-color: red;">11</td>
      <td style="background-color: red;">၈.၉.၂၀၂၀</td>
      <td style="background-color: red;">858</td>
      <td style="background-color: red;">မရှိ</td>
      <td style="background-color: red;">ကျား</td>
      <td style="background-color: red;">၅၁</td>
      <td style="background-color: red;">ဝေဘါဂီဆေးရုံ</td>
    </tr>
    <tr>
      <td>12</td>
      <td>၈.၉.၂၀၂၀</td>
      <td>1692</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>မ</td>
      <td>၅၇</td>
      <td>သင်္ဃန်းကျွန်း</td>
    </tr>
    <tr>
      <td>13</td>
      <td>၉.၉.၂၀၂၀</td>
      <td>1590</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>မ</td>
      <td>၅၅</td>
      <td>ဖောင်ကြီး</td>
    </tr>
    <tr>
      <td>14</td>
      <td>၉.၉.၂၀၂၀</td>
      <td>1491</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၄၅</td>
      <td>ဖောင်ကြီး</td>
    </tr>
    
  <tr>
      <td>15</td>
      <td>၁၁.၉.၂၀၂၀</td>
      <td>2165</td>
      <td>အရေပြားလေးဖက်နာ</td>
      <td>မ</td>
      <td>၃၂</td>
      <td>ဖောင်ကြီး</td>
    </tr>
    <tr>
      <td>16</td>
      <td>၁၂.၉.၂၀၂၀</td>
      <td>2351</td>
      <td>ဆီးချို.သွေးတိုး<br>နှလုံသွေးကြောကျဥ်း</td>
      <td>ကျား</td>
      <td>၇၀</td>
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td>
    </tr>
    <tr>
      <td>17</td>
      <td>၁၂.၉.၂၀၂၀</td>
      <td>2523</td>
      <td>အသည်းရောင်အသားဝါ(C)</td>
      <td>ကျား</td>
      <td>၇၅</td>
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td>
    </tr>
    <tr>
      <td>18</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>2260</td>
      <td>အရိုးပွ. သွေးတိုး</td>
      <td>မ</td>
      <td>၉၀</td>
      <td>သင်္ကန်းကျွန်း</td>
    </tr>
    <tr>
      <td>19</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>2429</td>
      <td>ဆီးချို</td>
      <td>မ</td>
      <td>၇၄</td>
      <td>သင်္ကန်းကျွန်း</td>
    </tr>
    <tr>
      <td>20</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>2064</td>
      <td>နှလုံးရောဂါ</td>
      <td>မ</td>
      <td>၉၀</td>
      <td>ဝေဘါဂီ</td>
    </tr>
    </tbody>
</table>
</details>
<hr>
<details>
<summary>21 မှ 40 အထိ ကြည့်ရန်</summary>
<table class="customTable">
  <thead>
    <tr>
      <th width="3%">စဥ်</th>
      <th width="17%">ရက်စွဲ</th>
      <th width="5%">Case<br>NO</th>
      <th width="43%">ရောဂါအခံ<br>ရှိ/မရှိ</th>
      <th width="5%">ကျား/မ</th>
      <th width="5%">အသက်</th>
      <th width="22%">ဆေးရုံ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>2463</td>
      <td>လေဖြတ်.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၇၅</td>
      <td>စစ်တွေ ဆေးရုံ</td>
    </tr>
    <tr>
      <td>22</td>
      <td>၁၁.၉.၂၀၂၀</td>
      <td>2324</td>
      <td>ပန်းနာရင်ကျပ် ဆီးချို.သွေးတိုး နှလုံး</td>
      <td>မ</td>
      <td>၆၉</td>
      <td>ရန်ကုန်ဆေးရုံ</td>
    </tr>
    <tr>
      <td>23</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>1997</td>
      <td>အသည်းရောင်အသားဝါ(C)</td>
      <td>ကျား</td>
      <td>၅၁</td>
      <td>ဖောင်ကြီးဆေးရုံ</td>
    </tr>
    <tr>
      <td>24</td>
      <td>၁၁.၉.၂၀၂၀</td>
      <td>2126</td>
      <td>ဆီးချို.သွေးတိုး</td>
      <td>မ</td>
      <td>၇၆</td>
      <td>ဖောင်ကြီးဆေးရုံ</td>
    </tr>
    <tr>
      <td>25</td>
      <td>၁၃.၄.၂၀၂၀</td>
      <td>2504</td>
      <td>သွေးတိုး</td>
      <td>ကျား</td>
      <td>၇၀</td>
      <td>မ/ဥက္ကာပဆေးရုံ</td>
    </tr>
    <tr>
      <td>26</td>
      <td>၁၄.၄.၂၀၂၀</td>
      <td>1987</td>
      <td>သွေးတိုး.ဆီးချို.နှလုံး </td>
      <td>ကျား</td>
      <td>၇၂</td>
      <td>ဝေဘါဂီ</td>
    </tr>
    <tr>
      <td>27</td>
      <td>၁၁.၉.၂၀၂၀</td>
      <td>2848</td>
      <td>ဆီးချို.သွေးတိုး.ကျောက်ကပ်</td>
      <td>မ</td>
      <td>၅၉</td>
      <td>မ/ဥက္ကလာပဆေးရုံ</td>
    </tr>
    <tr>
      <td>28</td>
      <td>၁၂.၉.၂၀၂၀</td>
      <td>2827</td>
      <td>ပန်းနာရင်ကျပ်.သွေးတိုး.အသည်းရောင်အသားဝါ(C)</td>
      <td>ကျား</td>
      <td>၆၆</td>
      <td>ရန်ကုန်<br>(east)</td>
    </tr>
    <tr>
      <td>29</td>
      <td>၁၂.၉.၂၀၂၀</td>
      <td>2828</td>
      <td>ဆီးချို.သွေးတိုး. နှလုံး</td>
      <td>ကျား</td>
      <td>၈၄</td>
      <td>ရန်ကုန်<br>(east)</td>
    </tr>
    <tr>
      <td>30</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>2308</td>
      <td>နှလုံးသွေးကြောကျဥ်း.သွေးတိုး</td>
      <td>ကျား</td>
      <td>၆၇</td>
      <td>ဖောင်ကြီးဆေးရုံ</td>
    </tr>
    </tbody>
    </table>
    
    <hr>
    
    <table class="customTable">
  <thead>
    <tr>
      <th width="3%">စဥ်</th>
      <th width="17%">ရက်စွဲ</th>
      <th width="5%">Case<br>NO</th>
      <th width="43%">ရောဂါအခံ<br>ရှိ/မရှိ</th>
      <th width="5%">ကျား/မ</th>
      <th width="5%">အသက်</th>
      <th width="22%">ဆေးရုံ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>31</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>1351</td>
      <td>ဆီးချို.သွေးတိုး.<br>နှလုံးသွေးကြောကျဥ်း </td>
      <td>ကျား</td>
      <td>၅၀</td>
      <td>တ/ဥက္ကလာပဆေးရုံ</td>
    </tr>
    <tr>
      <td>32</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>2847</td>
      <td>နှလုံးသွေးကြောကျဥ်း</td>
      <td>ကျား</td>
      <td>၈၀</td>
      <td>မ/ဥက္ကလာပဆေးရုံ</td>
    </tr>
    <tr>
      <td>33</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>2354</td>
      <td>ဆီးချို.သွေးတိုး.</td>
      <td>ကျား</td>
      <td>၆၁</td>
      <td>ဖောင်ကြီး </td>
    </tr>
    <tr>
      <td>34</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>2876</td>
      <td>ပန်းနာရင်ကျပ်</td>
      <td>ကျား</td>
      <td>၅၉</td>
      <td>ဖောင်ကြီး </td>
    </tr>
    <tr>
      <td>35</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>3186</td>
      <td>ဆီးချို.သွေးတိုး.</td>
      <td>ကျား</td>
      <td>၆၄</td>
      <td>သင်္ကန်းကျွန်း </td>
    </tr>
    <td>36</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>2347</td>
      <td>နှလုံးသွေးကြောကျဥ်း.သွေးတိုး.</td>
      <td>မ</td>
      <td>၈၈</td>
      <td>ဝေဘါဂီ</td>
    </tr>
    <td>37</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3122</td>
      <td>နှလုံးသွေးကြောကျဥ်း.</td>
      <td>ကျား</td>
      <td>၅၁</td>
      <td>ရန်ကုန်(east)</td>
    </tr>
    <td>38</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>1589</td>
      <td>သွေးတိုး.</td>
      <td>မ</td>
      <td>၈၉</td>
      <td>ဖောင်ကြီး</td>
    </tr>
    <tr>
    <td>39</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3258</td>
      <td>ဆီးချို.သွေးတိုး.<br>ပန်းနာရင်ကျပ်</td>
      <td>ကျား</td>
      <td>၆၈</td>
      <td>သန်လျင်</td>
    </tr>
    <tr>
    <td>40</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>2645</td>
      <td>ကျောက်ကပ်</td>
      <td>မ</td>
      <td>၇၃</td>
      <td>ဒဂုံဆိပ်ကမ်း</td>
    </tr>
    </tbody>
    </table>
    </details>
    <hr>
    <details>
    <summary>41 မှ 60အထိ ကြည့်ရန်</summary>
    <table class="customTable">
  <thead>
    <tr>
      <th width="3%">စဥ်</th>
      <th width="17%">ရက်စွဲ</th>
      <th width="5%">Case<br>NO</th>
      <th width="43%">ရောဂါအခံ<br>ရှိ/မရှိ</th>
      <th width="5%">ကျား/မ</th>
      <th width="5%">အသက်</th>
      <th width="22%">ဆေးရုံ</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: red;">
      <td>41</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3370</td>
      <td></td>
      <td>ကျား</td>
      <td>၅၈</td>
      <td>ရန်ကုန်</td>
    </tr>
    <tr>
      <td>42</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>16</td>
      <td>ဆီးချို.အဆုတ်တီဘီ</td>
      <td>ကျား</td>
      <td>၆၅</td>
      <td>အင်းစိန်</td>
    </tr>
    <tr>
      <td>43</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3599</td>
      <td>သွေးတိုး.အဆုတ်တီဘီ</td>
      <td>ကျား</td>
      <td>၈၄</td>
      <td>သင်္ကန်းကျွန်း</td>
    </tr>
    <tr>
      <td>44</td>
      <td>၁၃.၉.၂၀၂၀</td>
      <td>2911</td>
      <td>လေဖြတ် နှလုံးသွေးကြောကျဥ်း</td>
      <td>ကျား</td>
      <td>၉၀</td>
      <td>သင်္ကန်းကျွန်း</td>
    </tr>
    <tr>
      <td>45</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3361</td>
      <td>နှလုံး.ဆီးချို ကျောက်ကပ်</td>
      <td>မ</td>
      <td>၇၅</td>
      <td>မ/ဥက္ကလာပ</td>
    </tr>
    <tr style="background-color: red">
      <td>46</td>
      <td>၁၇.၉.၂၀၂၀</td>
      <td>2531</td>
      <td>သွေး နှင့်ဆိုင်သော ရောဂါ</td>
      <td>မ</td>
      <td>၁၃</td>
      <td>တ/ဥက္ကလာပ</td>
    </tr>
    <tr>
      <td>47</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3714</td>
      <td>မထုတ်ပြန်ရသေး</td>
      <td>ကျား</td>
      <td>၆၀</td>
      <td>ရန်ကုန်  </td>
    </tr>
    
    <tr>
      <td>48</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3766</td>
      <td>မထုတ်ပြန်ရသေ</td>
      <td>ကျား</td>
      <td>၆၅</td>
      <td>ရန်ကုန်</td>
    </tr>
    <tr>
      <td>49</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>3769</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>ကျား</td>
      <td>၆၇</td>
      <td>ရန်ကုန်</td>
    </tr>
    <tr>
      <td>50</td>
      <td>၁၄.၉.၂၀၂၀</td>
      <td>3770</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>ကျား</td>
      <td>၂၄</td>
      <td>ရန်ကုန်</td>
    </tr>
    <tr>
      <td>51</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>3874</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၄</td>
      <td>သင်္ကန်းကျွန်း </td>
    </tr>
    <tr>
      <td>52</td>
      <td>၁၇.၉.၂၀၂၀</td>
      <td>3366</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>ကျား</td>
      <td>၅၂</td>
      <td>တ/ဥက္ကလာပ</td>
    </tr>
    <tr>
      <td>53</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3768</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၀</td>
      <td>ရန်ကုန်(east)</td>
    </tr>
    

    
    <tr>
      <td>54</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3651</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၈၀</td>
      <td>မန္တလေး</td>
    </tr>
    
    
    <tr>
      <td>55</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3315</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၇</td>
      <td>တ/ဥက္ကလာပ</td>
    </tr>
    <tr>
      <td>56</td>
      <td>၁၆.၉.၂၀၂၀</td>
      <td>3352</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၅</td>
      <td>ဝေဘါဂီ</td>
    </tr> 
   <tr>
      <td>57</td>
      <td>၁၅.၉.၂၀၂၀</td>
      <td>3708</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>ကျား</td>
      <td>၅၈</td>
      <td>ရန်ကုန်(east)</td>
    </tr>
    
    <tr>
      <td>58</td>
      <td>၁၇.၉.၂၀၂၀</td>
      <td>3004</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၅</td>
      <td>တပ်မတော် အသည်းရောဂါ</td>
    </tr>
   <tr>
      <td>59</td>
      <td>၁၇.၉.၂၀၂၀</td>
      <td>3746</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>ကျား</td>
      <td>၄၂</td>
      <td>ဝေဘါဂီ</td>
    </tr>
   
   <tr>
      <td>60</td>
      <td>၁၇.၉.၂၀၂၀</td>
      <td>3565</td>
      <td>မထုတ်ပြန်ရသေး.</td>
      <td>မ</td>
      <td>၆၇</td>
      <td>ရန်ကုန် <br>(ခုတင်၅၀၀)</td>
    </tr>
    
    
    </tbody>
    </table>
    </details>
    <hr>
    <details>
    <summary>18-22/9/2020 အထိ စာရင်း ကြည့်ရန် </summary>
    <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119744357_3786100534752557_3831223955052864901_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=3lOfHQ5kgAcAX_QI65p&_nc_ht=scontent.frgn2-1.fna&oh=f77f5b816d04ae61bfb5d4fa077e6854&oe=5F87EF68" width="98%">
    <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119483098_3787122394650371_1243705507186929640_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=3HOHfGWDjt4AX8q1BN8&_nc_ht=scontent.frgn2-1.fna&oh=5e59a069683f0b96e8687a0185fe63a1&oe=5F8AFCD2" width="98%">
    <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119700907_3787743031254974_3060466433887550864_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=x7JJmnbj1WwAX8L1mvq&_nc_ht=scontent.frgn2-1.fna&oh=c8669b852ae213409d2723f21ca6d511&oe=5F8A672B" width="98%">
   
   <hr>
  
   <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119600994_3789432044419406_5944187853885289790_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=wUfD-RXh-_sAX-7S9CU&_nc_oc=AQllN6xK25nEzeFAjvYLDPhg_XDD_S_gWzpsH5DFPm-1R-NIKKTxAOwUCgaBIGJloHo&_nc_ht=scontent.frgn2-1.fna&oh=d0eda1719f2d5adb0a43528d52272c60&oe=5F8C0C26" width="98%">
       <table class="customTable" width="100%" padding="0">
      <tr style="background-color: orange;">
      <th width="5%">စဥ်</th>
      <th width="10%">Case</th>
      <th width="5%">အသက်</th>
      <th width="5%">ကျား/မ</th>   
      <th width="45%">ဆေးရုံ</th>
      <th widthb"30%">သေဆုံးသည့်ရက်စွဲ</th> 
      
      <tr>
      <td>76</td>    
      <td>4035</td> 
      <td>၆၈</td> 
      <td>ကျား</td> 
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td> 
      <td>၁၈.၉.၂၀၂၀</td> 
      
      </tr>
      
      <tr>
      <td>77</td>    
      <td>4388</td> 
      <td>၆၅</td> 
      <td>ကျား</td> 
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td> 
      <td>၁၉.၉.၂၀၂၀</td> 
      
      </tr>
      
      <tr>
      <td>78</td>    
      <td>4029</td> 
      <td>၆၀</td> 
      <td>ကျား</td> 
      <td>တ/ဥက္ကလာပဆေးရုံ</td> 
      <td>၁၉.၉.၂၀၂၀</td> 
      
      </tr>
      
      <tr>
      <td>79</td>    
      <td>3141</td> 
      <td>၈၄</td> 
      <td>မ</td> 
      <td>Covidကုသရေး(ဒဂုံဆိပ်ကမ်း)</td> 
      <td>၁၈.၉.၂၀၂၀</td> 
      
      </tr>
      
      <tr>
      <td>80</td>    
      <td>4403</td> 
      <td>၈၁</td> 
      <td>ကျား</td> 
      <td>ရန်ကုန်ပြည်သူ့ဆေးရုံ</td> 
      <td>၁၆.၉.၂၀၂၀</td> 
      
      </tr>
      
      <tr>
      <td>81</td>    
      <td>4374</td> 
      <td>၆၄</td> 
      <td>ကျား</td> 
      <td>မ/ဥက္ကလာပဆေးရုံ</td> 
      <td>၁၆.၉.၂၀၂၀</td> 
      
      </tr>
      </table>
    
      <hr>
      
      <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119700967_3793767983985812_4034780128593341219_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=whcQ6RQ8xBYAX-cqu1e&_nc_ht=scontent.frgn2-1.fna&oh=af0535dd8e495e29aba6d6ae163351e4&oe=5F8C23CE" width="98%">
  <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119816322_3794148190614458_7285968883886096611_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=jAuNoDHRIrAAX8iSPby&_nc_ht=scontent.frgn2-1.fna&oh=7da7d4925bc699923849a4bee41d7c47&oe=5F8E60D0" width="98%">
 
 <hr>
 
 
 <img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119890335_3796833720345905_3859214457904432896_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=N4gU_mBeRIoAX8uWIiV&_nc_ht=scontent.frgn2-1.fna&oh=cb0208126bac4670e450e75d8c6f2211&oe=5F8DB528" width="98%">
 <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/119969224_3798048956891048_6281805548186136451_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=ZE5ZYKlLXroAX9EViGK&_nc_ht=scontent.xx&oh=9e70df420a6917cd0a666aa45830b7e7&oe=5F8D8450" width="98%">
<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/119786420_3798423870186890_4442192562679323923_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=juTtM0wwfbAAX94A3_m&_nc_ht=scontent.xx&oh=2b3108904369360df068ad89181a74f8&oe=5F8DF22A" width="98%">

<hr>


<img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119786181_3800080626687881_7396277586804591100_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=JpT-mseNJnMAX9ODieC&_nc_ht=scontent.frgn2-1.fna&oh=04744a3e1d2b4264968abc498a71bdb6&oe=5F901938" width="98%">
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119719347_3801129683249642_3929939268370102113_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=Yxp4zMzK-ccAX_qORQP&_nc_ht=scontent.frgn2-2.fna&oh=dc572510439e7f8d498c18d3a44c4b27&oe=5F8ED085" width="98%">
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119827160_3801129639916313_4591016737654031918_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=7BcOZF2rtK0AX9OEUCN&_nc_ht=scontent.frgn2-2.fna&oh=8c6e6c13d68534d7005afc943aded458&oe=5F8F357A" width="98%">
</details>
<hr>
<details><summary>
23/9/2020 စာရင်းကြည့်ရန်</summary>
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119794477_3801640463198564_8401580798938784918_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=UKPeDr5DN6UAX8hwpTZ&_nc_ht=scontent.frgn2-2.fna&oh=4654b7a2993176cee28b76db60997db4&oe=5F90CF1C" width="98%">
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119859557_3803275389701738_1571148014066605242_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=q_K3V-4Od2YAX-0zPn5&_nc_ht=scontent.frgn2-2.fna&oh=94f4223b9e26b7b7fba36eff45a7b615&oe=5F901AC3" width="98%">
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119947644_3804423059586971_5304773849552224489_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=hxiGO-zJpzgAX8A6Z_0&_nc_ht=scontent.frgn2-2.fna&oh=133236f049866ccb1a34b00481cfa253&oe=5F912D8A" width="98%">
<img src="https://scontent.frgn2-2.fna.fbcdn.net/v/t1.0-9/119934188_3805017566194187_1822857908489781284_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=c7jipF5v70wAX_bjBy3&_nc_ht=scontent.frgn2-2.fna&oh=362852a503cdede0ce83b00acb07dac9&oe=5F9024E7" width="98%">
</details>
<hr>
<img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119934188_3805017566194187_1822857908489781284_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=c7jipF5v70wAX95-Rk3&_nc_ht=scontent.frgn2-1.fna&oh=c996f7e2249cbcdd3afe8677420c3b8e&oe=5F941967" width="98%">
<img src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/119937304_3808142785881665_3776426688653705281_o.png?_nc_cat=1&_nc_sid=8024bb&efg=eyJpIjoidCJ9&_nc_ohc=VSGagebT1m0AX9_RrTC&_nc_ht=scontent.frgn2-1.fna&oh=dd38a39092b219a57f2fbcbcd22f8839&oe=5F91C5DF" width="98%">
</body>
</html>
