.byuS, .btn , .byuT {
 border: solid 2px gray;
 margin: 1px;
 border-radius: 2% 5%;
}

body {
 background-color: black;
 color: white;
 text-align: center;
 font-family: "Verdana", sans-serif;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
  
}

[class*="col-"] {
  width: 100%;
}

